:root {
    --primary-color: #4f46e5;
    --primary-hover: #4338ca;
    --bg-color: #f8fafc;
    --card-bg: #ffffff;
    --text-main: #1e293b;
    --text-white: #ffffff;
    --text-muted: #64748b;
    --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    --radius: 12px;
    --padding-default: 5px;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: var(--text-main);
}

form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: fit-content;
    width: 50%;

    label{
        font-weight: bold;
        text-align: center;
    }
}

input {
    padding: 5px;
    font-size: 16px;
    border-radius: var(--radius);
    border: 1px solid var(--text-muted);
    color: var(--text-main);
    outline: none;
    padding: var(--padding-default);
    padding-left: calc(var(--padding-default) * 2);
}

button {
    padding: var(--padding-default);
    font-size: 16px;
    border-radius: var(--radius);
    border: none;
    background-color: var(--primary-color);
    color: var(--text-white);
}